
<div style="background: #212121;overflow: hidden">
    <a class="netease-playbar playbar-prev"></a>

    <a class="netease-playbar playbar-play"></a>

    <a class="netease-playbar playbar-pause"></a>

    <a class="netease-playbar playbar-next"></a>

    <a class="netease-playbar playbar-icn playbar-icn-add"></a>

    <a class="netease-playbar playbar-icn playbar-icn-share"></a>

    <a class="netease-playbar playbar-icn playbar-icn-volumn"></a>

    <a class="netease-playbar playbar-icn playbar-icn-loop"></a>

    <a class="netease-playbar playbar-icn playbar-icn-shuffle"></a>

    <a class="netease-playbar playbar-icn playbar-icn-one"></a>

    <a class="netease-playbar playbar-icn playbar-icn-list"></a>
</div>

