<!--The content below is only a placeholder and can be replaced.-->

<div class="demo-wrap">
    <div class="demo-wrap-menu">
        <a href="/netease-normal-cover">normal-cover</a>
        <a href="/netease-song-list-cover">netease-song-list-cover</a>
        <a href="/netease-normal-button">netease-normal-button</a>
        <a href="/netease-playbar">netease-playbar</a>
        <a href="/netease-table-icn">netease-table-icn</a>
        <a href="/netease-zorro-demo">netease-zorro-demo</a>
    </div>
    <div class="demo-wrap-content">
        <router-outlet></router-outlet>
    </div>
</div>



