
$btnTableBg: url("/src/assets/img/table.png") no-repeat 0 9999px;

.netease-table-icn {
    float: left;
    width: 18px;
    height: 16px;
    margin: 2px 0 0 4px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
    background: $btnTableBg;

    &.table-icn-favorites {
        background-position: 0 -174px;
        &:hover {
            background-position: -20px -174px;
        }
    }

    &.table-icn-share {
        background-position: 0 -195px;
        &:hover {
            background-position: -20px -195px;
        }
    }

    &.table-icn-load {
        background-position: -81px -174px;
        &:hover {
            background-position: -104px -174px;
        }
    }

    &.table-icn-delete {
        background-position: 0 -217px;
        &:hover {
            background-position: -20px -217px;
        }
    }
}
