
<netease-normal-cover
    [title]="'歌单title'"
    [size]="60"
    [navigateUrl]="'/user/demo'"
    [imageUrl]="'http://p1.music.126.net/fi2d8aD5QakQh7v_1rSaeg==/18780758116182294.jpg?param=60y60'">

</netease-normal-cover>

<netease-normal-cover
    [title]="'歌单title'"
    [size]="140"
    [navigateUrl]="'/user/demo'"
    [imageUrl]="'http://p1.music.126.net/fi2d8aD5QakQh7v_1rSaeg==/18780758116182294.jpg?param=60y60'">

</netease-normal-cover>

<netease-normal-cover
    [title]="'歌单title'"
    [size]="300"
    [navigateUrl]="'/user/demo'"
    [imageUrl]="'http://p1.music.126.net/fi2d8aD5QakQh7v_1rSaeg==/18780758116182294.jpg?param=60y60'">

</netease-normal-cover>
