.ant-input.override {
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

textarea.override {
    resize: none;
    overflow: hidden;
}
