
<div style="padding: 10px">
    <h3>normal</h3>
    <input type="checkbox" name="btn" [(ngModel)]="btnDisabled">disabled
    <div style="overflow: hidden">
        <netease-normal-button [btnType]="btnTypeEnum.SHARE" [disabled]="btnDisabled">1</netease-normal-button>
        <netease-normal-button [btnType]="btnTypeEnum.LOAD" [disabled]="btnDisabled">231</netease-normal-button>
        <netease-normal-button [btnType]="btnTypeEnum.COMMENT" [disabled]="btnDisabled">sefs</netease-normal-button>
        <netease-normal-button [btnType]="btnTypeEnum.FAVORITES" [disabled]="btnDisabled">asef</netease-normal-button>
        <netease-normal-button [btnType]="btnTypeEnum.NONE" [disabled]="btnDisabled">vd</netease-normal-button>
        <netease-normal-button [btnType]="btnTypeEnum.CREATE" [disabled]="btnDisabled">wrgw</netease-normal-button>

        <netease-normal-button [btnType]="btnTypeEnum.MESSAGE" [disabled]="btnDisabled"></netease-normal-button>
    </div>


</div>
